<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--
    <link rel="stylesheet" href="../static/css/header.css" type="text/css">
    -->
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
   <link rel="stylesheet" href="{{url_for('static',filename = 'css/bootstrap.min.css')}}">
    <!-- 最新的 jquery 核心 JavaScript 文件 -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- 最新的 font-awesome 核心 css 文件 -->
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/base.css')}}">
    <!--<link rel="stylesheet" href="{{url_for('static',filename = 'amazeui/css/amazeui.css')}}">-->
    <!--<link rel="stylesheet" href="{{url_for('static',filename = 'amazeui/css/amazeui.min.css')}}">-->
    <!--<script src="{{ url_for('static', filename='amazeui/js/amazeui.js') }}"></script>-->
    <!--<script src="{{ url_for('static', filename='amazeui/js/amazeui.min.js') }}"></script>-->
    <!--<script src="{{ url_for('static', filename='amazeui/js/amazeui.ie8polyfill.js') }}"></script>-->
    <!--<script src="{{ url_for('static', filename='amazeui/js/amazeui.ie8polyfill.min.js') }}"></script>-->
    <!--<script src="{{ url_for('static', filename='amazeui/js/amazeui.widgets.helper.js') }}"></script>-->
    <!--<script src="{{ url_for('static', filename='amazeui/js/amazeui.widgets.helper.min.js') }}"></script>-->

    {% block head %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img class="logo" src="{{url_for('static',filename = 'images/aline.jpg')}}">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index">首页<span class="sr-only">(current)</span></a></li>
                <li><a href="https://www.lagou.com">拉勾网</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">查询 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="simple">简单查询</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="statistics">简单统计查询</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="proquery">精确查询</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="showcharts">精确统计查询</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if user %}
                <li><a href="#">{{user.userName}}</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">功能 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="home">我的主页</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="collect">我的收藏</a></li>
                        <li role="separator" class="divider"></li>
                        {% if user.Admin == 1 %}
                        <li><a href="admin">后台管理</a></li>
                        <li role="separator" class="divider"></li>
                        {% endif %}
                        <li><a href="logout">退出</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="login">登录</a></li>
                <li><a href="register">注册</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="main">
    {% block main %}{% endblock %}
</div>

</body>
</html>