{% extends 'base.html' %}

{% block head %}
<title>简单查询</title>
<script src="{{url_for('static',filename = 'js/simple.js')}}"></script>
<script src="{{url_for('static',filename = 'js/jquery.js')}}"></script>
<script src="{{url_for('static',filename = 'js/area.js')}}"></script>
<script src="{{url_for('static',filename = 'js/location.js')}}"></script>
<script src="{{url_for('static',filename = 'js/select2.js')}}"></script>
<script src="{{url_for('static',filename = 'js/select2_locale_zh-CN.js')}}"></script>
<script src="{{url_for('static',filename = 'js/bootstrap-datepicker.min.js')}}"></script>
<script src="{{url_for('static',filename = 'js/bootstrap-datepicker.zh-CN.js')}}"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>


<link rel="stylesheet" href="{{url_for('static',filename = 'css/simple.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename = 'css/common.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename = 'css/select2.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename = 'css/bootstrap-datepicker.min.css')}}">

{% endblock %}

{% block main %}
<div class="form-group">
    <form>
        <label><input class="form-control" type="text" id="search" value=""></label><br>
        <label>城市选择
            <select  id="loc_province" style="width:120px;"></select>
            <select id="loc_city" style="width:120px; margin-left: 10px"></select>
        </label><br>
        <label>月薪
            <select id="salary" class="selectpicker">
                <option value="1">不限</option>
                <option value="2">1k-5k</option>
                <option value="3">5k-10k</option>
                <option value="4">10k-15k</option>
                <option value="5">15k-20k</option>
                <option value="6">20k以上</option>
            </select>
        </label>
        <label>学历
            <select id="education" class="selectpicker">
                <option value="1">不限</option>
                <option value="2">大专</option>
                <option value="3">本科</option>
                <option value="4">硕士</option>
                <option value="5">博士</option>
            </select>
        </label>
        <label>工作经验
            <select id="workyear" class="selectpicker">
                <option value="1">不限</option>
                <option value="2">应届毕业生</option>
                <option value="3">1年以下</option>
                <option value="4">1-3年</option>
                <option value="5">3-5年</option>
                <option value="6">5-10年</option>
                <option value="7">10年以上</option>
            </select>
        </label><br>
        <span>发布日期
        <input type="text" id="date_begin" readonly="readonly"/> -
        <input type="text" id="date_end" readonly="readonly"/>
        </span><br>
        <input class="btn btn-default" type="button" value="查询" onclick="pro_query()">
    </form>
</div>

<script>
    function pro_query(){
        var city = $('#loc_city').select2('data').text.split('市')[0]
        var search = document.getElementById('search').value
        var i =  $('#salary').selectpicker('val') - 1
        var salary = $('#salary').selectpicker()["0"][i].innerHTML
        var j =  $('#education').selectpicker('val') - 1
        var education = $('#education').selectpicker()["0"][j].innerHTML
        var k =  $('#workyear').selectpicker('val') - 1
        var workyear = $('#workyear').selectpicker()["0"][k].innerHTML

        var date_begin = $('#date_begin').datepicker()["0"].value
        var date_end = $('#date_end').datepicker()["0"].value

        console.log(city)
        console.log(salary)
        console.log(education)
        console.log(workyear)
        console.log(date_begin)
        console.log(date_end)
        $.post('/pro_query',{'search':search,'city':city,'salary':salary,'education':education,
            'workyear':workyear,'date_begin':date_begin,'date_end':date_end})
//        $.post('/pro_query',{'search':search,'city':city,'salary':salary,'education':education,
//            'workyear':workyear,'date_begin':date_begin,'date_end':date_end}).done(result)
    }

    var result = function(data){
        if(data) {
            var str = ''
            for (i in data) {
                console.log(data[i])
                str += "<tr>" +
                        "<td>" + data[i].positionId + "</td>" +
                        "<td>" + data[i].positionName + "</td>" +
                        "<td>" + data[i].companyShortName + "</td>" +
                        "<td>" + data[i].city + "</td>" +
                        "<td>" + data[i].salary + "</td>" +
                        "<td>" + data[i].education + "</td>" +
                        "<td>" + data[i].workYear + "</td>" +
                        "<td>" + data[i].createTime + "</td>" +
                        "</tr>";

            }

            document.getElementById('result').innerHTML = str;
        }
        else{
            document.getElementById('table').innerHTML = "未查询到任何数据"
        }
    }

    function DatePicker(beginSelector,endSelector){
            // 仅选择日期
            $(beginSelector).datepicker(
            {
            	language:  "zh-CN",
            	autoclose: true,
            	startView: 0,
            	format: "yyyy-mm-dd",
            	clearBtn:true,
            	todayBtn:false,
            	endDate:new Date()
            }).on('changeDate', function(ev){
            	if(ev.date){
            		$(endSelector).datepicker('setStartDate', new Date(ev.date.valueOf()))
            	}else{
            		$(endSelector).datepicker('setStartDate',null);
            	}
            })

            $(endSelector).datepicker(
            {
            	language:  "zh-CN",
            	autoclose: true,
            	startView:0,
            	format: "yyyy-mm-dd",
            	clearBtn:true,
            	todayBtn:false,
            	endDate:new Date()
            }).on('changeDate', function(ev){
            	if(ev.date){
            		$(beginSelector).datepicker('setEndDate', new Date(ev.date.valueOf()))
            	}else{
            		$(beginSelector).datepicker('setEndDate',new Date());
            	}

            })
        }

        DatePicker("#date_begin","#date_end");


</script>

{% if result %}
<div class="simple">
    <table class="table">
        <tr>
            <th>职位编号</th>
            <th width="180px">职位名称</th>
            <th width="180px">公司简称</th>
            <th>所在城市</th>
            <th>基本薪资</th>
            <th>学历要求</th>
            <th>工作经验</th>
            <th>发布时间</th>
        </tr>
        {% for r in result %}
        <tr>
            <td height="57px">{{ r.positionId }}</td>
            <td height="57px">{{ r.positionName }}</td>
            <td height="57px">{{ r.companyShortName }}</td>
            <td height="57px">{{ r.city }}</td>
            <td height="57px">{{ r.salary }}</td>
            <td height="57px">{{ r.education }}</td>
            <td height="57px">{{ r.workYear }}</td>
            <td height="57px">{{ r.createTime }}</td>
        </tr>
        {% endfor %}
    </table>
    <nav aria-label="Page navigation" style="text-align: center">
        <ul class="pagination">
            <li>
                <a href="{% if pagination.has_prev %}{{url_for('main.simple_query',page=pagination.page-1,search=search)}}{% else %}#{% endif %}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for p in pagination.iter_pages() %}
            <li class="{% if pagination.page == p %}active{% endif %}">
                {% if p == None %}
                <a class="disabled" href="#">...</a>
                {% else %}
                <a href="{{url_for('main.simple_query',page=p,search=search)}}">{{p}}</a>
                {% endif %}
            </li>
            {% endfor %}
            <li>
                <a href="{%if pagination.has_next %}{{url_for('main.simple_query',page=pagination.page+1,search=search)}}{% else %}#{% endif %}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
{% else %}
<div>
    <p>没有查询到结果</p>
</div>
{% endif %}

<div class="simple">
<table class="table" id="table">
        <tr>
            <th>职位编号</th>
            <th width="180px">职位名称</th>
            <th width="180px">公司简称</th>
            <th>所在城市</th>
            <th>基本薪资</th>
            <th>学历要求</th>
            <th>工作经验</th>
            <th>发布时间</th>
        </tr>
    <tbody id="result">

    </tbody>

    </table>
    <nav aria-label="Page navigation" style="text-align: center">
        <ul class="pagination">
            <li>
                <a
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for p in pagination.iter_pages() %}
            <li class="{% if pagination.page == p %}active{% endif %}">
                {% if p == None %}
                <a class="disabled" href="#">...</a>
                {% else %}
                <a>{{p}}</a>
                {% endif %}
            </li>
            {% endfor %}
            <li>
                <a href=
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

{% endblock %}
